<div class="modal_wrap">
<%= form_for(@user, :url => { :action => "update_password", :controller => "users" } ) do |f| %>
  <ul class="form_wrap clearfix">
        <li>
            <span>New Password:</span>
            <%= f.password_field :password, :autocomplete => "off", :minlength => 8  %>
        </li>
        <li>
            <span>Re-enter New Password:</span>
            <%= f.password_field :password_confirmation, :minlength => 8 %>
        </li>
    </ul>
    <%= f.hidden_field :update_password_date, :value => "#{Time.now.to_date}"%>
    <div class="modal_twobutton">
      <%= f.submit "Change Password", :class => "btn btn_orange" %>
      <%= f.button "Cancel", :type=> "button",:class => "btn btn_gray_onblack btn", :disable => true%>
    </div>
<% end %>
</div>


