<div class="modal_wrap">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
  		<ul class="form_wrap clearfix">
        <li>
          <span>New Password:</span>
          <%= f.password_field :password, :autofocus => true %>
        </li>
        <li>
          <span>Re-enter New Password:</span>
          <%= f.password_field :password_confirmation %>
        </li>
    	</ul>

	    <div class="modal_twobutton">
	      <%= f.submit "Change my password", :class => "btn btn_orange" %>
	      <button class="btn btn_gray_onblack">Cancel</button>
	    </div>
	<% end %>
</div>